.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#elevator-group {
  display: flex;
  flex-direction: row;
}

#elevator-group h1 {
  padding: 15px;
}

#floor-group {
  display: flex;
  flex-direction: column;
}

#high-rise {
  display: flex;
}

.floor {
  border: 1px solid black;
  margin: 10px;
  width: 100px;
  height: 60px;
}

.elevator {
  display: flex;
  flex-direction: column;
}

.keypad{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid black;
}