.App {
  text-align: center;
  display: flex;
}

#elevator-group {
  display: flex;
  flex-direction: row;
  
}

#elevator-group h1 {
  padding: 15px;
}

#floor-group {
  display: flex;
  flex-direction: column;
}